<mat-card class="card-formulario">
    <mat-card-content>
        <form [formGroup]="temperaturaForm" class="formulario-temperatura" (keydown.enter)="pesquisarTemperaturaDaCidadeFornecida()">
            <h2 class="descricao">Pesquise a temperatura da sua cidade no formulário abaixo:</h2>
            <mat-form-field appearance="outline" class="pesquisa-temperatura">
            <mat-label>Cidade</mat-label>
                <input
                    matInput
                    type="text"
                    [formControlName]="'cidade'"
                    required
                />
                <mat-error *ngIf="temperaturaForm.get('cidade')?.errors?.required">
                    O campo cidade é obrigatório.
                </mat-error>
            </mat-form-field>
            <section class="botoes-pesquisa">
                <button mat-flat-button color="warn" (click)="limparDadosDaPesquisaDeTemperatura()">Limpar</button>
                <button mat-flat-button color="primary" (click)="pesquisarTemperaturaDaCidadeFornecida()">Pesquisar</button>
            </section>
        </form>
    </mat-card-content>
</mat-card>
<mat-card *ngIf="formularioSubmetido" class="card-dados-temperatura">
    <mat-card-content>
        <section class="dados-temperatura">
            <img src="{{ imagemTempo }}" alt="Tempo na cidade {{ localizacao }} - {{ regiao }} - {{ pais }}">
            <h2>Cidade: {{ localizacao }} - {{ regiao }}</h2>
            <h2>País: {{ pais }}</h2>
            <h3>°C: {{ valorTemperaturaCidadeCelsius }}</h3>
            <h3>°F: {{ valorTemperaturaCidadeFahrenheit }}</h3>
            <h3>Kelvin: {{ valorTemperaturaCidadeKelvin | number : '1.2-2' }}</h3>
            <h3>Umidade: {{ valorUmidadeCidade }}%</h3>
            <h4>Tempo atual: {{ textoCondicao }}.</h4>
        </section>
    </mat-card-content>
</mat-card>