.formulario-temperatura {
    padding: 3rem;
}

.pesquisa-temperatura {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.pesquisa-temperatura input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.pesquisa-temperatura button {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.dados-temperatura {
    text-align: center;
}

.botoes-pesquisa {
    display: flex;
    justify-content: space-between;
    align-items: center;
}