<form class="search-form" [formGroup]="temperaturaForm">

    <mat-form-field appearance="outline">
    <mat-label>Cidade</mat-label>
        <input
            matInput
            type="text"
            (keyup.enter)="pesquisarTemperaturaDaCidadeFornecida()"
            [formControlName]="'cidade'"
            autoFocus
            required
        />
        <mat-error *ngIf="temperaturaForm.get('cidade')?.errors?.required">
            O campo cidade é obrigatório.
        </mat-error>
    </mat-form-field>
    <button type="button" (click)="pesquisarTemperaturaDaCidadeFornecida()">Pesquisar</button>
</form>
<h3>Temperatura em celsius: {{ valorTemperaturaCidadeCelsius }}°C</h3>
<h3>Temperatura em °F: {{ valorTemperaturaCidadeKelvin }}</h3>
<h3>Temperatura em Kelvin: {{ valorTemperaturaCidadeFahrenheit }}</h3>
<h3>Umidade: {{ valorUmidadeCidade }}%</h3>